@import url(variables.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-sans);
}

html, body {
  overflow-x: hidden;  
}

.page {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.hero {
  padding: 64px 20px 128px 20px;
  background-image: url('../assets/bg-main-mobile.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  height: 100%;
}

.hero__header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.hero__logo {
  height: 32px;
  width: auto;
  margin-bottom: 64px;
}

.hero__pattern {
  display: none;
}

.hero__title {
  font-size: 40px;
  font-weight: var(--font-weight-bold:);
  color: var(--color-slate);
  line-height: 1;
  letter-spacing: -1px;
  margin-bottom: 40px;
}

.hero__text {
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  color: var(--color-slate);
  line-height: 1.5;
  margin-bottom: 64px;
}

.app-preview {
  position: relative;
  width: 100%;
  min-height: 380px;
  background-color: var(--color-slate);
  background-image: url('../assets/bg-pattern-2.svg');
  background-repeat: no-repeat;
  background-position: center top;
  height: 100%;
}

.app-preview__image {
  position: absolute;
  bottom: 64px;
  left: 50%;
  transform: translateX(-50%);
  height: 430px;
  width: auto;
}

.pricing {
  padding: 48px 20px;
  background-color: var(--color-orange);
}

.pricing__title {
  font-size: 40px;
  font-weight: var(--font-weight-bold);
  color: var(--color-slate);
  line-height: 1.1;
  margin-bottom: 24px;
}

.pricing__text {
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  color: var(--color-slate);
  line-height: 1.5;
  margin-bottom: 40px;
}

.pricing__price {
  display: flex;
  align-items: flex-start;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 48px;
}

.pricing__price-value {
  font-size: 64px;
  font-weight: var(--font-weight-bold);
  color: var(--color-slate);
  line-height: 1.1;
}

.pricing__price-unit {
  font-size: 20px;
  font-weight: var(--font-weight-regular);
}

.pricing__buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.pricing__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  line-height: 1.8;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  width: 100%;
}

.pricing__button-icon {
  height: 20px;
  width: 20px;
  margin-right: 8px;
  background-color: currentColor;
}

.pricing__button--apple {
  background-color: var(--color-slate);
  color: var(--color-white);

  &:hover {
    background-color: var(--color-cyan);
    color: var(--color-slate);
  }
}

.pricing__button--android {
  background-color: var(--color-white);
  color: var(--color-slate);

  &:hover {
    background-color: var(--color-yellow);
    color: var(--color-slate);
  }
}

.pricing__button-icon--apple {
  mask: url("../assets/icon-apple.svg") no-repeat center / contain;
  -webkit-mask: url("../assets/icon-apple.svg") no-repeat center / contain;
}

.pricing__button-icon--android {
  mask: url("../assets/icon-android.svg") no-repeat center / contain;
  -webkit-mask: url("../assets/icon-android.svg") no-repeat center / contain;
}

footer {
  padding: 64px 20px 80px 20px;
  color: var(--color-slate);
}

.footer__logo {
  height: 32px;
  width: auto;
  margin-bottom: 32px;
}

.footer__text {
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
  margin-bottom: 32px;
}

.footer__socials {
  display: flex;
  gap: 32px;
  list-style: none;
}

.footer__social {
  cursor: pointer;
}

.footer__social-icon {
  height: 24px;
  width: 24px;
  display: inline-block;
  background-color: var(--color-slate);
}

.footer__social:hover .footer__social-icon {
  background-color: var(--color-yellow);
}

.footer__social-icon--facebook {
  mask: url("../assets/icon-facebook.svg") no-repeat center / contain;
  -webkit-mask: url("../assets/icon-facebook.svg") no-repeat center / contain;
}

.footer__social-icon--instagram {
  mask: url("../assets/icon-instagram.svg") no-repeat center / contain;
  -webkit-mask: url("../assets/icon-instagram.svg") no-repeat center / contain;
}

.footer__social-icon--twitter {
  mask: url("../assets/icon-twitter.svg") no-repeat center / contain;
  -webkit-mask: url("../assets/icon-twitter.svg") no-repeat center / contain;
}


/* ---------------------- */
/* Media Queries          */
/* ---------------------- */

@media (min-width: 768px) {

  .hero {
    padding: 64px 40px 128px 40px;
  }

  .hero__logo {
    height: 32px;
    width: auto;
    margin-bottom: 128px;
  }

  .hero__pattern {
    position: absolute;
    top: -40px;
    right: -50px;
    display: block;
    height: 400px;
    width: auto;
  }

  .hero__title {
    font-size: 64px;
    max-width: 415px;
    margin-bottom: 48px;
  }

  .hero__text {
    font-size: 18px;
    max-width: 505px;
    margin-bottom: 120px;
  }

  .page {
    background-image: url('../assets/bg-main-tablet.png');
    background-repeat: repeat;
    background-position: center left;
  }

  .tablet-view {
    position: relative;
    max-width: 680px;
    width: 100vh;
    height: 600px;
    margin: 0 auto;
  }

  .app-preview {
    position: absolute;
    width: auto;
    border-radius: 12px;
    height: 600px;
    width: 100%;
    background-position: left top;
    z-index: 1;
  }

  .app-preview__image {
    position: absolute;
    top: -120px;
    left: 28%;
    height: 556px;
    z-index: 2;
  }

  .pricing {
    position: absolute;
    max-width: 356px;
    border-radius: 16px;
    bottom: -80px;
    left: 40%;
    padding: 48px;
    z-index: 3;
  }

  .footer {
    margin-top: 160px;
    padding: 64px 40px 40px 40px;
  }

  .footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1440px) {

  .page {
    background-image: url('../assets/bg-main-desktop.png');
    background-repeat: repeat;
    background-position: center left;
  }

  .hero {
    padding: 64px 80px 128px 80px;
  }

  .hero__pattern {
    top: -40px;
    right: -50px;
    height: 486px;
    width: auto;
  }

  .hero__title {
    font-size: 88px;
    max-width: 900px;
  }

  .hero__text {
    font-size: 18px;
    max-width: 736px;
  }

  .app-preview__image {
    top: -100px;
    left: 27%;
    height: 606px;
  }

  .tablet-view {
    max-width: 1120px;
    width: 100vh;
    height: 600px;
    margin: 0 auto;
  }

  .app-preview {
    background-position: center top;
  }

  .pricing {
    max-width: 450px;
    bottom: -50px;
    left: 52%;
    padding: 56px;
  }

  .footer {
    padding: 64px 80px 40px 80px;
  }
}